$headerWidth: 1140px;
$primaryColor: #e67e22;
$secondaryColor: #fff;
$tertiaryColor: #f4f4f4;

/*-------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  background-color: $secondaryColor;

  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix::after {
  content: ' ';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*-------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------*/

.row {
  max-width: $headerWidth;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/*----- HEADINGS -----*/
@mixin headingStyle(
  $marginBottom: 0,
  $color: #555,
  $fontSize: 0,
  $wordSpacing: 0,
  $letterSpacing: 0
) {
  margin-bottom: $marginBottom;

  color: $color;
  font-size: $fontSize;
  word-spacing: $wordSpacing;
  letter-spacing: $letterSpacing;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  @include headingStyle(20px, $secondaryColor, 240%, 4px, 1px);
}

h2 {
  text-align: center;
  @include headingStyle(30px, null, 180%, 2px, 1px);
}

h3 {
  @include headingStyle(15px, null, 110%, null, null);
}

// horizontal bar below heading
h2::after {
  content: ' ';
  display: block;
  height: 2px;
  width: 100px;
  margin: 30px auto 0;

  background-color: $primaryColor;
}

/*----- PARAGRAPHS -----*/

.long-copy {
  width: 70%;
  margin-left: 15%; // To center the paragraph, total width is 100% = 15(left) + 70(paragraph) + 15(right)

  line-height: 145%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
}

/*----- ICONS -----*/
@mixin iconStyle($display: none, $fontSize: 0, $color: black) {
  display: $display;

  font-size: $fontSize;
  color: $color;
}

.icon {
  &--big {
    @include iconStyle(block, 350%, $primaryColor);
    margin-bottom: 10px;
  }
  &--small {
    @include iconStyle(inline-block, 120%, $primaryColor);

    width: 30px;
    margin-right: 10px;

    text-align: center;

    /* To align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
  }
}

/*----- LINKS -----*/

a {
  &:link,
  &:visited {
    padding-bottom: 1px;
    color: $primaryColor;
    text-decoration: none;

    border-bottom: 1px solid $primaryColor;
    transition: border-bottom 0.2s, color 0.2s;
  }

  &:hover,
  &:active {
    color: #555;
    border-bottom: 1px solid transparent;
  }
}

/*----- BUTTONS -----*/

// Reversing background color and text color of a button when hover on it
@mixin reverseBtnStyle($backgroundColor, $textColor) {
  background-color: $backgroundColor;
  color: $textColor;
}

%buttonStyle {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;

  font-weight: 300;
  text-decoration: none;

  border: 1px solid $primaryColor;
  border-radius: 200px;

  transition: background-color 0.3s, color 0.3s;
}

.btn {
  &:link,
  &:visited {
    @extend %buttonStyle;
  }

  &--full {
    @include reverseBtnStyle($primaryColor, $secondaryColor);
    margin-right: 10px;

    &:link,
    &:visited {
      color: $secondaryColor;
    }

    &:hover,
    &:active {
      @include reverseBtnStyle(transparent, $primaryColor);
    }
  }

  &--ghost {
    @include reverseBtnStyle(transparent, $primaryColor);

    &:hover,
    &:active {
      @include reverseBtnStyle($primaryColor, $secondaryColor);
    }
  }
}

/*-------------------------------------*/
/* HEADER */
/*-------------------------------------*/

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg) no-repeat fixed center;
  background-size: cover;

  height: 100vh;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: $headerWidth;
}

.logo {
  float: left;

  height: 100px;
  width: auto;
  margin-top: 20px;
}

.main-nav {
  float: right;
  margin-top: 55px;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a {
  &:link,
  &:visited {
    padding: 8px 0;

    font-size: 90%;
    color: $secondaryColor;
    text-decoration: none;
    text-transform: uppercase;

    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
  }

  &:hover,
  &:active {
    border-bottom: 2px solid $primaryColor;
  }
}

/*-------------------------------------*/
/* FEATURE */
/*-------------------------------------*/

.section-feature .long-copy {
  margin-bottom: 40px;
}

/*-------------------------------------*/
/* MEALS */
/*-------------------------------------*/

.section-meals {
  padding: 0;

  &__showcase {
    width: 100%;
    list-style: none;

    li {
      display: block;
      float: left;
      width: 25%;
    }
  }

  &__photo {
    width: 100%;
    margin: 0;

    /* 
    Default bg color is white, the following opacity on img make it lighter instead of darker
    So we have to make it black, so when we hover on image, it become more lighter
    */
    background-color: #000;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;

      opacity: 0.7;
      transform: scale(1.15);
      transition: transform 0.5s, opacity 0.5s;

      &:hover {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

/*-------------------------------------*/
/* HOW IT WORKS */
/*-------------------------------------*/

.section-steps {
  background-color: $tertiaryColor;

  &__box {
    &:first-child {
      margin-top: 30px;
      padding-right: 3%;
      text-align: right;
    }

    &:last-child {
      margin-top: 70px;
      padding-left: 3%;
    }
  }

  &__app-screen {
    width: 40%;
  }

  &__works-step {
    margin-bottom: 50px;

    div {
      float: left;
      width: 55px;
      height: 55px;
      margin-right: 25px;
      padding: 5px;

      font-size: 150%;
      color: $primaryColor;
      text-align: center;

      border: 2px solid $primaryColor;
      border-radius: 50%;
    }

    &:last-of-type {
      margin-bottom: 80px;
    }
  }

  &__btn-app {
    &:link,
    &:visited {
      border: 0;
    }

    img {
      width: auto;
      height: 50px;
      margin-right: 10px;
    }
  }
}

/*-------------------------------------*/
/* CITIES */
/*-------------------------------------*/

.section-cities img {
  max-width: 100%;
  height: auto;
}

/*-------------------------------------*/
/* TESTIMONIALS */
/*-------------------------------------*/

.section-testimonials {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/back-customers.jpg) no-repeat fixed center;
  background-size: cover;

  color: $secondaryColor;

  blockquote {
    position: relative;
    margin-top: 40px;
    padding: 2%;

    font-style: italic;
    line-height: 145%;

    &::before {
      content: '\201C';
      display: block;
      position: absolute;
      top: -5px;
      left: -5px;
      font-size: 500%;
    }
  }

  cite {
    display: block;
    margin-top: 20px;
    font-size: 90%;

    img {
      height: 45px;
      margin-right: 10px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
}

/*-------------------------------------*/
/* SIGN UP */
/*-------------------------------------*/

.section-plans {
  background-color: $tertiaryColor;

  &__box {
    width: 90%;
    margin-left: 5%;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px #efefef;

    div {
      padding: 15px;
      border-bottom: 1px solid #e8e8e8;

      &:first-child {
        background-color: #fcfcfc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        text-align: center;
        border: 0;
      }
    }

    ul {
      list-style: none;
    }

    ul li {
      padding: 5px 0;
    }
  }

  &__price {
    margin-bottom: 10px;
    color: $primaryColor;
    font-size: 300%;
    font-weight: 100;

    span {
      font-size: 30%;
      font-weight: 300;
    }
  }

  &__price-meal {
    font-size: 80%;
  }
}

/*-------------------------------------*/
/* CONTACT FORM */
/*-------------------------------------*/

.section-contact__form {
  width: 70%;
  margin: 0 auto;

  input[type='text'],
  input[type='email'],
  select,
  textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  textarea {
    height: 100px;
  }

  input[type='checkbox'] {
    margin: 10px 5px 10px 0;
  }

  input[type='submit'] {
    @extend %buttonStyle;
  }
}
