$headerWidth: 1140px;
$primaryColor: #e67e22;
$secondaryColor: #fff;

/*-------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $secondaryColor;

  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix::after {
  content: ' ';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*-------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------*/

.row {
  max-width: $headerWidth;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/*----- HEADINGS -----*/
@mixin headingStyle(
  $marginBottom: 0,
  $color: #555,
  $fontSize: 0,
  $wordSpacing: 0,
  $letterSpacing: 0
) {
  margin-bottom: $marginBottom;

  color: $color;
  font-size: $fontSize;
  word-spacing: $wordSpacing;
  letter-spacing: $letterSpacing;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  @include headingStyle(20px, $secondaryColor, 240%, 4px, 1px);
}

h2 {
  text-align: center;
  @include headingStyle(30px, null, 180%, 2px, 1px);
}

h3 {
  @include headingStyle(15px, null, 110%, null, null);
}

// horizontal bar below heading
h2::after {
  content: ' ';
  display: block;
  height: 2px;
  width: 100px;
  margin: 30px auto 0;

  background-color: $primaryColor;
}

/*----- PARAGRAPHS -----*/

.long-copy {
  width: 70%;
  margin-left: 15%; // To center the paragraph, total width is 100% = 15(left) + 70(paragraph) + 15(right)

  line-height: 145%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
}

/*----- ICONS -----*/

.icon--big {
  font-size: 350%;
  display: block;
  color: $primaryColor;
  margin-bottom: 10px;
}

/*----- BUTTONS -----*/

// Reversing background color and text color of a button when hover on it
@mixin reverseBtnStyle($backgroundColor, $textColor) {
  background-color: $backgroundColor;
  color: $textColor;
}

.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 10px 30px;

    font-weight: 300;
    text-decoration: none;

    border: 1px solid $primaryColor;
    border-radius: 200px;

    transition: background-color 0.3s, color 0.3s;
  }

  &--full {
    @include reverseBtnStyle($primaryColor, $secondaryColor);
    margin-right: 10px;

    &:hover,
    &:active {
      @include reverseBtnStyle(transparent, $primaryColor);
    }
  }

  &--ghost {
    @include reverseBtnStyle(transparent, $primaryColor);

    &:hover,
    &:active {
      @include reverseBtnStyle($primaryColor, $secondaryColor);
    }
  }
}

/*-------------------------------------*/
/* HEADER */
/*-------------------------------------*/

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg) no-repeat center;
  background-size: cover;

  height: 100vh;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: $headerWidth;
}

.logo {
  float: left;

  height: 100px;
  width: auto;
  margin-top: 20px;
}

.main-nav {
  float: right;
  margin-top: 55px;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a {
  &:link,
  &:visited {
    padding: 8px 0;

    font-size: 90%;
    color: $secondaryColor;
    text-decoration: none;
    text-transform: uppercase;

    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
  }

  &:hover,
  &:active {
    border-bottom: 2px solid $primaryColor;
  }
}

/*-------------------------------------*/
/* MEALS */
/*-------------------------------------*/

.section-feature .long-copy {
  margin-bottom: 40px;
}

/*-------------------------------------*/
/* MEALS */
/*-------------------------------------*/

.section-meals {
  padding: 0;

  &__showcase {
    width: 100%;
    list-style: none;

    li {
      display: block;
      float: left;
      width: 25%;
    }
  }

  &__photo {
    width: 100%;
    margin: 0;

    /* 
    Default bg color is white, the following opacity on img make it lighter instead of darker
    So we have to make it black, so when we hover on image, it become more lighter
    */
    background-color: #000;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;

      opacity: 0.7;
      transform: scale(1.15);
      transition: transform 0.5s, opacity 0.5s;

      &:hover {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

/*-------------------------------------*/
/* HOW IT WORKS */
/*-------------------------------------*/

.section-steps {
  background-color: #f4f4f4;

  &__box {
    &:first-child {
      margin-top: 30px;
      padding-right: 3%;
      text-align: right;
    }

    &:last-child {
      margin-top: 70px;
      padding-left: 3%;
    }
  }

  &__app-screen {
    width: 40%;
  }

  &__works-step {
    margin-bottom: 50px;

    div {
      float: left;
      width: 55px;
      height: 55px;
      margin-right: 25px;
      padding: 5px;

      font-size: 150%;
      color: $primaryColor;
      text-align: center;

      border: 2px solid $primaryColor;
      border-radius: 50%;
    }

    &:last-of-type {
      margin-bottom: 80px;
    }
  }

  &__btn-app {
    img {
      height: 50px;
      width: auto;
      margin-right: 10px;
    }
  }
}
