/*-------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix::after {
  content: ' ';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*-------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/*----- HEADINGS -----*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

h3 {
  margin-bottom: 15px;
  font-size: 110%;
}

h2::after {
  content: ' ';
  display: block;
  height: 2px;
  width: 100px;
  margin: 30px auto 0;
  background-color: #e67e22;
}

/*----- PARAGRAPHS -----*/
.long-copy {
  width: 70%;
  margin-left: 15%;
  line-height: 145%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
}

/*----- ICONS -----*/
.icon--big {
  display: block;
  font-size: 350%;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon--small {
  display: inline-block;
  font-size: 120%;
  color: #e67e22;
  width: 30px;
  margin-right: 10px;
  text-align: center;
  /* To align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/*----- LINKS -----*/
a:link, a:visited {
  padding-bottom: 1px;
  color: #e67e22;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover, a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/*----- BUTTONS -----*/
.btn:link, .btn:visited, .section-contact__form input[type='submit'] {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  border: 1px solid #e67e22;
  border-radius: 200px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.btn--full {
  background-color: #e67e22;
  color: #fff;
  margin-right: 10px;
}

.btn--full:link, .btn--full:visited {
  color: #fff;
}

.btn--full:hover, .btn--full:active {
  background-color: transparent;
  color: #e67e22;
}

.btn--ghost {
  background-color: transparent;
  color: #e67e22;
}

.btn--ghost:hover, .btn--ghost:active {
  background-color: #e67e22;
  color: #fff;
}

/*-------------------------------------*/
/* HEADER */
/*-------------------------------------*/
header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg) no-repeat fixed center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg) no-repeat fixed center;
  background-size: cover;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1140px;
}

.logo {
  float: left;
  height: 100px;
  width: auto;
  margin-top: 20px;
}

.main-nav {
  float: right;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
  padding: 8px 0;
  font-size: 90%;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/*-------------------------------------*/
/* FEATURE */
/*-------------------------------------*/
.section-feature .long-copy {
  margin-bottom: 40px;
}

/*-------------------------------------*/
/* MEALS */
/*-------------------------------------*/
.section-meals {
  padding: 0;
}

.section-meals__showcase {
  width: 100%;
}

.section-meals__showcase li {
  display: block;
  float: left;
  width: 25%;
}

.section-meals__photo {
  width: 100%;
  margin: 0;
  /* 
    Default bg color is white, the following opacity on img make it lighter instead of darker
    So we have to make it black, so when we hover on image, it become more lighter
    */
  background-color: #000;
  overflow: hidden;
}

.section-meals__photo img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.7;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.section-meals__photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*-------------------------------------*/
/* HOW IT WORKS */
/*-------------------------------------*/
.section-steps {
  background-color: #f4f4f4;
}

.section-steps__box:first-child {
  margin-top: 30px;
  padding-right: 3%;
  text-align: right;
}

.section-steps__box:last-child {
  margin-top: 70px;
  padding-left: 3%;
}

.section-steps__app-screen {
  width: 40%;
}

.section-steps__works-step {
  margin-bottom: 50px;
}

.section-steps__works-step div {
  float: left;
  width: 55px;
  height: 55px;
  margin-right: 25px;
  padding: 5px;
  font-size: 150%;
  color: #e67e22;
  text-align: center;
  border: 2px solid #e67e22;
  border-radius: 50%;
}

.section-steps__works-step:last-of-type {
  margin-bottom: 80px;
}

.section-steps__btn-app:link, .section-steps__btn-app:visited {
  border: 0;
}

.section-steps__btn-app img {
  width: auto;
  height: 50px;
  margin-right: 10px;
}

/*-------------------------------------*/
/* CITIES */
/*-------------------------------------*/
.section-cities img {
  max-width: 100%;
  height: auto;
}

/*-------------------------------------*/
/* TESTIMONIALS */
/*-------------------------------------*/
.section-testimonials {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg) no-repeat fixed center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg) no-repeat fixed center;
  background-size: cover;
  color: #fff;
}

.section-testimonials blockquote {
  position: relative;
  margin-top: 40px;
  padding: 2%;
  font-style: italic;
  line-height: 145%;
}

.section-testimonials blockquote::before {
  content: '\201C';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  font-size: 500%;
}

.section-testimonials cite {
  display: block;
  margin-top: 20px;
  font-size: 90%;
}

.section-testimonials cite img {
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

/*-------------------------------------*/
/* SIGN UP */
/*-------------------------------------*/
.section-plans {
  background-color: #f4f4f4;
}

.section-plans__box {
  width: 90%;
  margin-left: 5%;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px #efefef;
          box-shadow: 0 2px 2px #efefef;
}

.section-plans__box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.section-plans__box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.section-plans__box div:last-child {
  text-align: center;
  border: 0;
}

.section-plans__box ul li {
  padding: 5px 0;
}

.section-plans__price {
  margin-bottom: 10px;
  color: #e67e22;
  font-size: 300%;
  font-weight: 100;
}

.section-plans__price span {
  font-size: 30%;
  font-weight: 300;
}

.section-plans__price-meal {
  font-size: 80%;
}

/*-------------------------------------*/
/* CONTACT FORM */
/*-------------------------------------*/
.section-contact__form {
  width: 70%;
  margin: 0 auto;
}

.section-contact__form input[type='text'],
.section-contact__form input[type='email'],
.section-contact__form select,
.section-contact__form textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.section-contact__form textarea {
  height: 100px;
}

.section-contact__form input[type='checkbox'] {
  margin: 10px 5px 10px 0;
}

/*-------------------------------------*/
/* FOOTER */
/*-------------------------------------*/
footer {
  padding: 40px;
  font-size: 80%;
  background-color: #333;
}

footer p {
  color: #888;
  text-align: center;
}

.footer-ul-style li {
  display: inline-block;
  margin-right: 20px;
}

.footer-ul-style li a:link,
.footer-ul-style li a:visited {
  color: #888;
  border: 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-ul-style li a:hover,
.footer-ul-style li a:active {
  color: #ddd;
}

.footer-ul-style li:last-child {
  margin-right: 0;
}

.footer-nav {
  float: left;
}

.social-links {
  float: right;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 170%;
}

.ion-social-facebook:hover {
  color: #3b5988;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}
/*# sourceMappingURL=style.css.map */